{% extends 'base.html' %}

{% block title %}Анализатор страниц{% endblock %}

{% block content %}
<h1>Сайты</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <tbody>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Последняя проверка</th>
            <th>Код ответа</th>
        </tr>
        {% for url_check in urls_checks%}
        <tr>
            <td>{{ url_check[0] }}</td>
            <td>
                <a href="{{ url_for('analize_page', id=url_check[0]) }}">{{ url_check[1] }}</a>
            </td>
            {% if url_check[2] %}
                <td>{{ url_check[2] }}</td>
                <td>{{ url_check[3] }}</td>
            {% else %}
                <td></td>
                <td></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
